In [3]:
from binance.client import Client
import pandas as pd
import numpy as np
from datetime import datetime
import userbinance
import talib

In [4]:
client = Client(userbinance.API_KEY, userbinance.API_SECRET, tld='com')

In [5]:
symbolticker = 'ETHUSDT'

In [6]:
klines = client.get_historical_klines(symbolticker, Client.KLINE_INTERVAL_1HOUR, "3 year ago UTC")
df = pd.DataFrame(klines)

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1602111600000,340.35000000,342.00000000,340.00000000,341.58000000,11181.91311000,1602115199999,3811881.83166860,4252,5605.04548000,1910843.17778190,0
1,1602115200000,341.58000000,342.44000000,339.52000000,339.86000000,15828.17647000,1602118799999,5394271.70113330,5552,7775.33198000,2650525.56776560,0
2,1602118800000,339.81000000,340.23000000,338.33000000,339.91000000,14066.24905000,1602122399999,4772880.26504430,4964,6808.54951000,2310420.15335870,0
3,1602122400000,339.84000000,339.93000000,338.22000000,339.17000000,13879.44964000,1602125999999,4704833.99047500,6502,6145.21523000,2083346.93303030,0
4,1602126000000,339.17000000,340.51000000,338.65000000,339.20000000,12845.53692000,1602129599999,4360955.48043470,5009,6636.55019000,2253121.00126130,0

In [8]:
df_temp = df

In [9]:
df_temp = df_temp[[0,1,2,3,4,5]]
df_temp.head()

,0,1,2,3,4,5
0,1602111600000,340.35000000,342.00000000,340.00000000,341.58000000,11181.91311000
1,1602115200000,341.58000000,342.44000000,339.52000000,339.86000000,15828.17647000
2,1602118800000,339.81000000,340.23000000,338.33000000,339.91000000,14066.24905000
3,1602122400000,339.84000000,339.93000000,338.22000000,339.17000000,13879.44964000
4,1602126000000,339.17000000,340.51000000,338.65000000,339.20000000,12845.53692000

In [10]:
df_temp.rename(columns={0: 'Date',1:'Open',2:'High',3:'Low',4:'Close',5:'Volume'}, inplace=True)

C:\Users\Guille\AppData\Local\Temp\ipykernel_10604\354983717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp.rename(columns={0: 'Date',1:'Open',2:'High',3:'Low',4:'Close',5:'Volume'}, inplace=True)

In [11]:
df_temp.head()

,Date,Open,High,Low,Close,Volume
0,1602111600000,340.35000000,342.00000000,340.00000000,341.58000000,11181.91311000
1,1602115200000,341.58000000,342.44000000,339.52000000,339.86000000,15828.17647000
2,1602118800000,339.81000000,340.23000000,338.33000000,339.91000000,14066.24905000
3,1602122400000,339.84000000,339.93000000,338.22000000,339.17000000,13879.44964000
4,1602126000000,339.17000000,340.51000000,338.65000000,339.20000000,12845.53692000

In [12]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26260 entries, 0 to 26259
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    26260 non-null  int64
 1   Open    26260 non-null  object
 2   High    26260 non-null  object
 3   Low     26260 non-null  object
 4   Close   26260 non-null  object
 5   Volume  26260 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

In [13]:
df_temp['Date'] = df_temp['Date'].apply(lambda x: datetime.fromtimestamp(x/1000))
df_temp.head()

C:\Users\Guille\AppData\Local\Temp\ipykernel_10604\2086835934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Date'] = df_temp['Date'].apply(lambda x: datetime.fromtimestamp(x/1000))

,Date,Open,High,Low,Close,Volume
0,2020-10-07 20:00:00,340.35000000,342.00000000,340.00000000,341.58000000,11181.91311000
1,2020-10-07 21:00:00,341.58000000,342.44000000,339.52000000,339.86000000,15828.17647000
2,2020-10-07 22:00:00,339.81000000,340.23000000,338.33000000,339.91000000,14066.24905000
3,2020-10-07 23:00:00,339.84000000,339.93000000,338.22000000,339.17000000,13879.44964000
4,2020-10-08 00:00:00,339.17000000,340.51000000,338.65000000,339.20000000,12845.53692000

In [14]:
columnas_a_convertir = ['Open','High','Low','Close','Volume']
df_temp[columnas_a_convertir] = df_temp[columnas_a_convertir].astype(float).round(4)
df_temp.head()

C:\Users\Guille\AppData\Local\Temp\ipykernel_10604\515939337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp[columnas_a_convertir] = df_temp[columnas_a_convertir].astype(float).round(4)

                 Date    Open    High     Low   Close      Volume
0 2020-10-07 20:00:00  340.35  342.00  340.00  341.58  11181.9131
1 2020-10-07 21:00:00  341.58  342.44  339.52  339.86  15828.1765
2 2020-10-07 22:00:00  339.81  340.23  338.33  339.91  14066.2490
3 2020-10-07 23:00:00  339.84  339.93  338.22  339.17  13879.4496
4 2020-10-08 00:00:00  339.17  340.51  338.65  339.20  12845.5369

In [15]:
df_temp['RSI'] = talib.RSI(df_temp['Close'].values, timeperiod=14)
df_temp['EMA20'] = talib.EMA(df_temp['Close'].values, timeperiod=20)
df_temp['EMA40'] = talib.EMA(df_temp['Close'].values, timeperiod=40)
df_temp['EMA60'] = talib.EMA(df_temp['Close'].values, timeperiod=60)
#fastk, fastd = talib.STOCHRSI(df_temp['Close'].values, timeperiod=14)
#df_temp['StochRSI_K'] = fastk
#df_temp['StochRSI_D'] = fastd

C:\Users\Guille\AppData\Local\Temp\ipykernel_10604\1804349175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['RSI'] = talib.RSI(df_temp['Close'].values, timeperiod=14)
C:\Users\Guille\AppData\Local\Temp\ipykernel_10604\1804349175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['EMA20'] = talib.EMA(df_temp['Close'].values, timeperiod=20)
C:\Users\Guille\AppData\Local\Temp\ipykernel_10604\1804349175.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['EMA40'] = talib.EMA(df_temp['Close'].values, timeperiod=40)
C:\Users\Guille\AppData\Local\Temp\ipykernel_10604\1804349175.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['EMA60'] = talib.EMA(df_temp['Close'].values, timeperiod=60)

In [43]:
df_temp.to_pickle('./Datasets/df_ETHUSDT_1h.pickle')