In [ ]:
from binance.client import Client
import pandas as pd
import numpy as np
from datetime import datetime
import userbinance

In [9]:
client = Client(userbinance.API_KEY, userbinance.API_SECRET, tld='com')

In [10]:
symbolticker = 'ETHUSDT'

In [41]:
klines = client.get_historical_klines(symbolticker, Client.KLINE_INTERVAL_1HOUR, "3 year ago UTC")
df = pd.DataFrame(klines)

In [42]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1601942400000,353.63000000,355.10000000,351.90000000,352.36000000,17813.93631000,1601945999999,6299107.31597780,8643,8488.60122000,3003021.68205190,0
1,1601946000000,352.38000000,353.10000000,351.74000000,352.76000000,10894.13353000,1601949599999,3839615.83869940,5635,5592.55048000,1971156.12407560,0
2,1601949600000,352.74000000,354.56000000,352.72000000,353.35000000,13357.81035000,1601953199999,4723744.20760190,5985,6796.19188000,2403606.14024080,0
3,1601953200000,353.37000000,354.32000000,352.79000000,353.58000000,7925.65976000,1601956799999,2801577.34583240,4490,3760.47194000,1329426.06512650,0
4,1601956800000,353.57000000,354.72000000,353.57000000,354.11000000,12140.23864000,1601960399999,4300706.26844510,6236,5932.00620000,2101396.63107460,0

In [56]:
df_temp = df

In [57]:
df_temp = df_temp[[0,1,2,3,4,5]]
df_temp.head()

,0,1,2,3,4,5
0,1601942400000,353.63000000,355.10000000,351.90000000,352.36000000,17813.93631000
1,1601946000000,352.38000000,353.10000000,351.74000000,352.76000000,10894.13353000
2,1601949600000,352.74000000,354.56000000,352.72000000,353.35000000,13357.81035000
3,1601953200000,353.37000000,354.32000000,352.79000000,353.58000000,7925.65976000
4,1601956800000,353.57000000,354.72000000,353.57000000,354.11000000,12140.23864000

In [58]:
df_temp.rename(columns={0: 'Date',1:'Open',2:'High',3:'Low',4:'Close',5:'Volume'}, inplace=True)

C:\Users\Guille\AppData\Local\Temp\ipykernel_8164\354983717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp.rename(columns={0: 'Date',1:'Open',2:'High',3:'Low',4:'Close',5:'Volume'}, inplace=True)

In [59]:
df_temp.head()

,Date,Open,High,Low,Close,Volume
0,1601942400000,353.63000000,355.10000000,351.90000000,352.36000000,17813.93631000
1,1601946000000,352.38000000,353.10000000,351.74000000,352.76000000,10894.13353000
2,1601949600000,352.74000000,354.56000000,352.72000000,353.35000000,13357.81035000
3,1601953200000,353.37000000,354.32000000,352.79000000,353.58000000,7925.65976000
4,1601956800000,353.57000000,354.72000000,353.57000000,354.11000000,12140.23864000

In [60]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26260 entries, 0 to 26259
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    26260 non-null  int64
 1   Open    26260 non-null  object
 2   High    26260 non-null  object
 3   Low     26260 non-null  object
 4   Close   26260 non-null  object
 5   Volume  26260 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

In [61]:
df_temp['Date'] = df_temp['Date'].apply(lambda x: datetime.fromtimestamp(x/1000))
df_temp.head()

C:\Users\Guille\AppData\Local\Temp\ipykernel_8164\2086835934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Date'] = df_temp['Date'].apply(lambda x: datetime.fromtimestamp(x/1000))

,Date,Open,High,Low,Close,Volume
0,2020-10-05 21:00:00,353.63000000,355.10000000,351.90000000,352.36000000,17813.93631000
1,2020-10-05 22:00:00,352.38000000,353.10000000,351.74000000,352.76000000,10894.13353000
2,2020-10-05 23:00:00,352.74000000,354.56000000,352.72000000,353.35000000,13357.81035000
3,2020-10-06 00:00:00,353.37000000,354.32000000,352.79000000,353.58000000,7925.65976000
4,2020-10-06 01:00:00,353.57000000,354.72000000,353.57000000,354.11000000,12140.23864000

In [62]:
columnas_a_convertir = ['Open','High','Low','Close','Volume']
df_temp[columnas_a_convertir] = df_temp[columnas_a_convertir].astype(float).round(4)
df_temp.head()

C:\Users\Guille\AppData\Local\Temp\ipykernel_8164\515939337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp[columnas_a_convertir] = df_temp[columnas_a_convertir].astype(float).round(4)

                 Date    Open    High     Low   Close      Volume
0 2020-10-05 21:00:00  353.63  355.10  351.90  352.36  17813.9363
1 2020-10-05 22:00:00  352.38  353.10  351.74  352.76  10894.1335
2 2020-10-05 23:00:00  352.74  354.56  352.72  353.35  13357.8104
3 2020-10-06 00:00:00  353.37  354.32  352.79  353.58   7925.6598
4 2020-10-06 01:00:00  353.57  354.72  353.57  354.11  12140.2386

In [ ]:
df_temp.to_pickle('df_ETHUSDT_1h.pickle')