In [30]:
from binance.client import Client
import pandas as pd
import numpy as np
from datetime import datetime
import userbinance
import talib

In [31]:
client = Client(userbinance.API_KEY, userbinance.API_SECRET, tld='com')

In [32]:
symbolticker = 'ETHUSDT'

In [33]:
klines = client.get_historical_klines(symbolticker, Client.KLINE_INTERVAL_4HOUR, "3 year ago UTC")
df = pd.DataFrame(klines)

In [34]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1602086400000,340.67000000,342.82000000,337.16000000,340.96000000,115476.98751000,1602100799999,39214367.57371560,39573,56055.20748000,19041392.03893130,0
1,1602100800000,340.98000000,342.00000000,339.23000000,341.58000000,38260.81808000,1602115199999,13029321.76133780,17246,19152.53385000,6522094.03655620,0
2,1602115200000,341.58000000,342.44000000,338.22000000,339.20000000,56619.41208000,1602129599999,19232941.43708730,22027,27365.64691000,9297413.65541590,0
3,1602129600000,339.17000000,340.42000000,334.61000000,336.18000000,95739.74224000,1602143999999,32355333.61843710,32837,46316.84982000,15654591.04679150,0
4,1602144000000,336.21000000,339.44000000,334.21000000,337.64000000,92310.61554000,1602158399999,31096602.82933380,29935,47023.78526000,15845743.06141850,0

In [35]:
df_temp = df

In [36]:
df_temp = df_temp[[0,1,2,3,4,5]]
df_temp.head()

,0,1,2,3,4,5
0,1602086400000,340.67000000,342.82000000,337.16000000,340.96000000,115476.98751000
1,1602100800000,340.98000000,342.00000000,339.23000000,341.58000000,38260.81808000
2,1602115200000,341.58000000,342.44000000,338.22000000,339.20000000,56619.41208000
3,1602129600000,339.17000000,340.42000000,334.61000000,336.18000000,95739.74224000
4,1602144000000,336.21000000,339.44000000,334.21000000,337.64000000,92310.61554000

In [37]:
df_temp.rename(columns={0: 'Date',1:'Open',2:'High',3:'Low',4:'Close',5:'Volume'}, inplace=True)

C:\Users\guill\AppData\Local\Temp\ipykernel_14348\354983717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp.rename(columns={0: 'Date',1:'Open',2:'High',3:'Low',4:'Close',5:'Volume'}, inplace=True)

In [38]:
df_temp.head()

,Date,Open,High,Low,Close,Volume
0,1602086400000,340.67000000,342.82000000,337.16000000,340.96000000,115476.98751000
1,1602100800000,340.98000000,342.00000000,339.23000000,341.58000000,38260.81808000
2,1602115200000,341.58000000,342.44000000,338.22000000,339.20000000,56619.41208000
3,1602129600000,339.17000000,340.42000000,334.61000000,336.18000000,95739.74224000
4,1602144000000,336.21000000,339.44000000,334.21000000,337.64000000,92310.61554000

In [39]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6570 entries, 0 to 6569
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6570 non-null   int64
 1   Open    6570 non-null   object
 2   High    6570 non-null   object
 3   Low     6570 non-null   object
 4   Close   6570 non-null   object
 5   Volume  6570 non-null   object
dtypes: int64(1), object(5)
memory usage: 308.1+ KB

In [40]:
df_temp['Date'] = df_temp['Date'].apply(lambda x: datetime.fromtimestamp(x/1000))
df_temp.head()

C:\Users\guill\AppData\Local\Temp\ipykernel_14348\2086835934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['Date'] = df_temp['Date'].apply(lambda x: datetime.fromtimestamp(x/1000))

,Date,Open,High,Low,Close,Volume
0,2020-10-07 13:00:00,340.67000000,342.82000000,337.16000000,340.96000000,115476.98751000
1,2020-10-07 17:00:00,340.98000000,342.00000000,339.23000000,341.58000000,38260.81808000
2,2020-10-07 21:00:00,341.58000000,342.44000000,338.22000000,339.20000000,56619.41208000
3,2020-10-08 01:00:00,339.17000000,340.42000000,334.61000000,336.18000000,95739.74224000
4,2020-10-08 05:00:00,336.21000000,339.44000000,334.21000000,337.64000000,92310.61554000

In [41]:
columnas_a_convertir = ['Open','High','Low','Close','Volume']
df_temp[columnas_a_convertir] = df_temp[columnas_a_convertir].astype(float).round(4)
df_temp.head()

C:\Users\guill\AppData\Local\Temp\ipykernel_14348\515939337.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp[columnas_a_convertir] = df_temp[columnas_a_convertir].astype(float).round(4)

                 Date    Open    High     Low   Close       Volume
0 2020-10-07 13:00:00  340.67  342.82  337.16  340.96  115476.9875
1 2020-10-07 17:00:00  340.98  342.00  339.23  341.58   38260.8181
2 2020-10-07 21:00:00  341.58  342.44  338.22  339.20   56619.4121
3 2020-10-08 01:00:00  339.17  340.42  334.61  336.18   95739.7422
4 2020-10-08 05:00:00  336.21  339.44  334.21  337.64   92310.6155

In [42]:
df_temp['RSI'] = talib.RSI(df_temp['Close'].values, timeperiod=14)
df_temp['EMA20'] = talib.EMA(df_temp['Close'].values, timeperiod=20)
df_temp['EMA40'] = talib.EMA(df_temp['Close'].values, timeperiod=40)
df_temp['EMA60'] = talib.EMA(df_temp['Close'].values, timeperiod=60)
#fastk, fastd = talib.STOCHRSI(df_temp['Close'].values, timeperiod=14)
#df_temp['StochRSI_K'] = fastk
#df_temp['StochRSI_D'] = fastd

C:\Users\guill\AppData\Local\Temp\ipykernel_14348\1804349175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['RSI'] = talib.RSI(df_temp['Close'].values, timeperiod=14)
C:\Users\guill\AppData\Local\Temp\ipykernel_14348\1804349175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['EMA20'] = talib.EMA(df_temp['Close'].values, timeperiod=20)
C:\Users\guill\AppData\Local\Temp\ipykernel_14348\1804349175.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['EMA40'] = talib.EMA(df_temp['Close'].values, timeperiod=40)
C:\Users\guill\AppData\Local\Temp\ipykernel_14348\1804349175.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp['EMA60'] = talib.EMA(df_temp['Close'].values, timeperiod=60)

In [43]:
df_temp.to_pickle('df_ETHUSDT_4h.pickle')